<div class="content">
            <table class="centered highlight">
                <thead>
                    <tr>
                        <th>Выбор документов</th>
                        <th>Номер ЭК</th>
                        <th>Номер документа</th>
                        <th>Пункт ЭК</th>
                        <th>Время отправки</th>
                        <th>Кол-во баллов</th>
                        <th>Скачать документы</th>
                    </tr>
                </thead>
                {{#each userEKData}}
                <tbody>
                    <tr>
                        <td>
                            <label for="confirm{{this.id_doc}}">
                                <input type="checkbox" class="filled-in" name="confirmEK" id="confirm{{this.id_doc}}"/><span/>
                            </label>         
                        </td>
                        <td>{{this.id_ek}}</td>
                        <td>{{this.id_doc}}</td>
                        <td>{{this.index_name}}</td>
                        <td>{{this.id_period}}</td>
                        <td>{{this.value}}</td>
                        <td><a href="../uploadedFiles/{{this.login}}/{{this.id_ek}}/{{this.section}}/{{this.index_name}}" target="_blank">Скачать</a></td>
                    </tr>
                </tbody>
                {{/each}}
            </table>
            
	</div>
	<center><a class="waves-effect waves-light btn red" id="confirmButton">Подтвердить</a></center>