<body>
  <div class="content">
    
    <th colspan="6"><h2 class="mb-5"><center>Отчеты</center></h2></th>
    <table id="sf2" class="centered highlight searchable-table">
      <input class="search-input" type="text" placeholder="Поиск значения" id="search-text" onkeyup="filter(this, 'sf2')">
      <thead>
        <tr>
          <td><center>ФИО</center></td>
          <td><center>Должность</center></td>
          <td><center>Кафедра</center></td>
          <td><center>Кол-во непроверенных ЭК / Всего ЭК</center></td>
          <td><center>Непроверенные ЭК</center></td>
        </tr>
      </thead>
      
      {{#each usersData}}
      <tbody>
        <tr>
          <td>{{this.last_name}} {{this.name_real}} {{this.patronymic}}</td>
          <td>{{this.position}}</td>
          <td>{{this.department}}</td>
          <td>
            {{this.not_checked}}/{{ this.all_ek }}
          </td>
          <td><a class="floating-button waves-effect waves-light btn" href="/userEK/{{educator_id}}">Открыть папку</a></td>
        </tr>
      </tbody>  
      {{/each}}
    </table>
  </div>
</body>
</html>
