<body>
    <div class="content">
        <table class="striped centered">
            <thead>
                <tr>
                    <th><center>Номер ЭК</center></th>
                    <th><center>ФИО</center></th>
                    <th><center>Кол-во баллов</center></th> 
                </tr>
            </thead>

            <tbody>
                {{#each checkedData}}
                    <tr>
                        <td>{{this.id_ek}}</td>
                        <td>{{this.last_name}} {{this.name_real}} {{this.patronymic}}</td>
                        <td>{{this.all_ek}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</body>