<div class="content center">
    <h1>
        Профиль
    </h1>
    <h3>
        Фио: {{ user.name_real }} {{ user.last_name }} {{ user.patronymic }}
    </h3>
    <h3>
        Кафедра: {{ user.department }}
    </h3>
    <h3>
        Должность: {{ user.position }}
    </h3>
</div>