<div class="content">
            
            <table id="userDocs" class="centered highlight searchable-table">
                <input class="search-input"type="text" placeholder="Поиск значения">
                <thead>
                    <tr>
                        <th>Выбор документов</th>
                        <th onclick="sortTable(2)">Номер ЭК</th>
                        <th onclick="sortTable(3)">Номер документа</th>
                        <th onclick="sortTable(4)">Пункт ЭК</th>
                        <th onclick="sortTable(5)">Время отправки</th>
                        <th onclick="sortTable(6)">Кол-во баллов</th>
                        <th>Скачать документы</th>
                    </tr>
                </thead>
                {{#each userEKData}}
                <tbody>
                    <tr>
                        <td>
                            <label for="confirm{{this.id_doc}}">
                                <input type="checkbox" class="filled-in" name="confirmEK" id="confirm{{this.id_doc}}"/><span/>
                            </label>         
                        </td>
                        <td>{{this.id_ek}}</td>
                        <td>{{this.id_doc}}</td>
                        <td>{{this.index_name}}</td>
                        <td>{{this.id_period}}</td>
                        <td>{{this.value}}</td>
                        <td><a class="waves-effect waves-light btn" href="../uploadedFiles/{{this.login}}/{{this.id_ek}}/{{this.section}}/{{this.index_name}} {{this.file_name}}" target="_blank">Открыть</a></td>
                    </tr>
                </tbody>
                {{/each}}
            </table>
	</div>
	<center><a class="waves-effect waves-light btn red" id="confirmButton">Подтвердить</a></center>